[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "==19.10b0"
djangorestframework = "==3.11.0"
flake8 = "==3.8.2"
psycopg2 = "==2.8.5"
python-crontab = "==2.5.1"
gunicorn = "*"
Django = "==3.1.6"

[requires]
python_version = "3.8"
